@media screen and (max-width: 1700px) {
  .contact-us__text {
    padding: 70px 50px 62px 90px;
  }
  .contact-us__text h3::before {
    left: -32px;
  }
  .footer {
    padding-top: 80px;
  }
  .advantages {
    padding: 80px 0 100px;
  }
  .process {
    padding: 80px 0;
  }
  .banner {
    padding: 70px 0;
  }
  .title {
    font-size: 40px;
  }
  .hero-text {
    gap: 25px;
  }
  h2, h3 {
    font-size: 30px;
  }
  .about-wrap .about-l {
    width: 140px;
  }
  .sub-span {
    font-size: 18px;
    line-height: 1.4;
  }
  .special-catalog {
    padding: 50px 0;
  }
  .partners {
    padding-bottom: 140px;
  }
  .contact-us-img {
    width: 44%;
  }
  .contact-us__text {
    width: 56%;
  }
  .footer-title {
    margin-bottom: 25px;
  }
  .footer-top {
    margin: 50px 0;
  }
  .footer-column ul li p {
    font-size: 20px;
  }
  .footer-column ul li a {
    font-size: 20px;
  }
  //
  .footer-cont {
    padding-left: 130px;
  }
  .catalog-wrap h3 {
    padding: 0 130px;
  }
  .about-texts {
    margin-top: 45px;
    padding-left: 130px;
  }
  .advantages-cont {
    margin-top: 40px;
    padding-left: 130px;
  }
  .partners-title {
    padding: 0 130px;
    margin-bottom: 70px;
  }
  //

}

@media screen and (max-width: 1550px) {
  .header {
    top: -101px;
  }
  .catalog-right .tab-btn.active .txt {
    padding-top: 20px;
  }
  .hero-bot {
    .container-big {
      padding: 0px;
    }
  }
  .banner .container-big {
    padding: 0;
  }
  .contact-us {
    .container-big {
      padding: 0;
    }
  }
  .hero-top {
    padding: 45px 0 25px;
  }
  .title img {
    width: 60px;
    margin-right: 24px;
  }
  .title {
    font-size: 36px;
  }
  .advantages-list {
    margin-top: 65px;
  }
  .single-process span {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .single-process p {
    font-size: 16px;
  }
  .single-process span::before {
    font-size: 34px;

  }
  .certificates {
    padding: 40px 0;
  }
  .catalog-container .catalog-left {
    width: 46%;
    padding-top: 44%;
  }
  .catalog-right .tab-btn {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-bot-cont .txt {
    padding: 40px 15px;
  }
  .catalog-right .tab-btn span {
    font-size: 20px;
  }
  .about-texts-right ul li span {
    font-size: 36px;
    line-height: 1.2;
  }
  .about-wrap {
    padding-bottom: 60px;
  }
  .about-texts-left > p {
    margin-bottom: 20px;
  }
  .about-wrap .about-r {
    width: 260px;
  }
  .single-about {
    gap: 26px;
  }
  .about-texts-left h2 {
    margin-bottom: 30px;
  }
  .about-texts-right ul {
    gap: 20px;
  }
  .container-big {
    .container {
      padding: 0;
    }
  }
  .header-container {
    padding: 15px 0;
  }
  .header-right {
    gap: 20px;
  }

  .tels a {
    gap: 12px;
  }
  .btn {
    padding: 10px 24px;
    font-size: 18px;
  }
  .header-container .logo {
    width: 260px;
  }
  .certificates-cont .slider-btn {
    left: 30px;

    &.slider-btn--next {
      right: 30px;
    }
  }
  .partners-slider .slider-btn {
    left: 30px;

    &.slider-btn--next {
      right: 30px;
    }
  }
  .about-our {
    margin-top: 20px;
    gap: 30px;
  }
}

@media screen and (max-width: 1450px) {
  .catalog-container .tabs-owner {
    gap: 50px;
  }

  .catalog-right .tab-btn {
    padding: 30px 0;
  }
}

@media screen and (max-width: 1400px) {
  .hero-bot-cont .txt .p::before {
    width: 26px;
    height: 26px;
  }
  .hero-top__cont .title {
    max-width: 685px;
  }
  .process-people {
    gap: 25px;
  }
  .process-top {
    margin-bottom: 65px;
  }
  .banner-cont .txt h3 {
    max-width: 470px;
  }
  .banner-cont .txt .p::before {
    width: 26px;
    height: 26px;
  }
  .banner-cont .txt .p {
    gap: 20px;
  }
  .banner {
    padding: 40px 0;
  }
  .special-catalog-cont {
    margin-top: 35px;
    gap: 100px;
  }
  .special-catalog-list {
    padding: 0;
  }
  .banner-cont .circle-pdf {
    width: 200px;
    height: 200px;

    p {
      font-size: 50px;
    }
  }
  h2, h3 {
    font-size: 26px;
  }
  .hero-bot-cont .txt .p {
    gap: 20px;
  }
}

@media screen and (max-width: 1350px) {
  .header-menu {
    padding: 16px 0 2px;
  }
  .footer-cont {
    padding-left: 0;
    padding-right: 0;
  }
  .catalog-wrap h3 {
    padding: 0;
  }
  .about-texts {
    padding-left: 0;
    padding-right: 0;
  }
  .advantages-cont {
    padding-left: 0;
    padding-right: 0;
  }
  .partners-title {
    padding: 0;
  }
  .catalog-container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .header-right {
    .btn {
      display: none;
    }
  }
  .socs {
    margin-left: 0;
  }
  .hero-top__cont {
    gap: 15px;
  }
  .hero-text {
    gap: 15px;
  }
  .hero-bot {
    margin-top: 30px;
  }
  .hero-top__cont .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .header {
    top: 0;
  }
  .header-container {
    justify-content: flex-start;
  }
  .header-right {
    margin-left: auto;

  }
  .header-menu {
    transition: all 0.5s ease-in-out;
    transform: translate(-110%, 0);
  }
  .header {
    background: $bg;
    &.active {
      .header-menu {
        transform: translate(0, 0);
      }
    }
  }
  .header-menu {
    position: absolute;
    background: $bg;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 100%);
    padding: 20px 15px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;

    > p {
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      width: 100%;
      line-height: 1.2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      margin-top: auto;
    }
    .tels {
      margin-bottom: 30px;
    }
    .socs {

      a {
        svg {
          path {
            fill: $main-color !important;
          }
        }

        &:hover {
          svg {
            path {
              fill: #fff !important;
            }
          }
        }
      }


    }

    > p, .socs, .tels {
      display: flex;
    }

    .menu {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #3d3d40;

      ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;

        li {
          width: 100%;

          a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  .burger {
    display: flex;
    order: 3;
    margin-left: 30px;
    width: 30px;
    height: 21px;
    position: relative;
    cursor: pointer;

    span {
      width: 100%;
      height: 2px;
      background: $main-color;
      position: absolute;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      top: 0;
      left: 0;

      &:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        top: auto;

      }
    }

    &.active {
      span {
        &:nth-child(1) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          top: 50%;
          left: 250%;
          transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, 50%) rotate(-45deg);
        }
      }
    }
  }
  .header-right {
    .btn {
      display: flex;
    }

    > p, .socs, .tels {
      display: none;
    }
  }
  .hero-text .txt p {
    font-size: 14px;
  }
  .catalog-right .tab-btn .txt p {
    font-size: 14px;
  }
  .catalog-right .tab-btn {
    padding: 20px 0;
  }
  .catalog-right .tab-btn.active .txt {
    padding-top: 15px;
  }
  .single-about-txt p {
    font-size: 14px;
  }
  .about-texts-left > p {
    font-size: 14px;
  }
  .about-texts-right ul li p {
    font-size: 14px;
  }
  .about-texts-left > p {
    margin-bottom: 12px;
  }
  .single-advantages p {
    font-size: 14px;
  }
  .partners {
    padding-bottom: 60px;
  }
  .contact-us__text h3::before {
    width: 26px;
    height: 26px;
    left: -15px;
  }
  .contact-us__text h3 {
    margin-bottom: 15px;
  }
  .single-advantages .ic {
    width: 50px;
    height: 50px;

    img {
      height: 20px;
    }
  }
  .about-texts-right ul {
    gap: 15px;
  }
  .single-process span::before {
    font-size: 30px;
  }
  .about-texts-right ul li span {
    font-size: 30px;
  }
  .catalog-wrap .sub-span {
    margin-bottom: 40px;
  }
  .catalog-right .tab-btn span {
    font-size: 18px;
  }
  .banner-cont .circle-pdf {
    width: 140px;
    height: 140px;

    p {
      font-size: 36px;
    }
  }
  .special-catalog {
    padding: 35px 0;
  }
  .special-single span {
    font-size: 20px;
  }
  .process-people .img {
    width: 70px;
    height: 70px;
  }
  .process-people .txt p {
    font-size: 16px;
  }
  h2, h3 {
    font-size: 22px;
  }
  .form form .btn {
    margin-top: 20px;
  }
  .footer-column ul li a {
    font-size: 16px;
  }
  .footer-bot {
    padding: 20px 0;
  }
  .footer-top {
    margin: 25px 0;
  }
  .footer-column ul li p {
    font-size: 16px;
  }
  .footer-title {
    font-size: 18px;
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
  .footer {
    padding-top: 40px;
  }
  .contact-us__text {
    padding: 40px 30px 42px 50px;
  }
  .input-wrap input, .input-wrap textarea {
    padding: 13px;
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
    }
  }
  .contact-us__text > p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .btn {
    padding: 10px 18px;
    font-size: 16px;
  }
  .hero-bot-cont .txt .p p {
    font-size: 18px;
  }
  .process-bot {
    padding-right: 0;
    gap: 30px;
  }
  .advantages-list {
    margin-top: 35px;
    gap: 30px;
  }
  .single-advantages {
    width: calc(25% - (30px * 3) / 4);
  }
  .process-people .txt span {
    font-size: 14px;
  }
  .single-advantages span {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .single-process span {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .single-process p {
    font-size: 14px;
  }
  .single-process {
    width: calc((100% / 4) - ((30px * 3) / 4));
  }
  .process-cont {
    margin-top: 35px;
  }
  .process-people {
    padding-right: 0;
    max-width: 400px;
  }
  .process {
    padding: 40px 0;
  }
  .special-single p {
    font-size: 14px;
  }
  .special-single span {
    margin-bottom: 10px;
  }
  .special-single {
    padding: 15px 0 12px;
  }
  .banner-cont .txt .p p {
    font-size: 18px;
  }
  .special-catalog-cont {
    gap: 50px;
  }
  .special-catalog-cont h3 {
    max-width: 283px;
  }
  .catalog {
    padding: 50px 0 30px;
  }
  .banner-cont .circle-pdf {
    right: 20px;
    bottom: 20px;
  }
  .tels a {
    font-size: 14px;

    .ic {
      width: 18px;
      height: 18px;
    }
  }
  .special-single span {
    line-height: 1.4;
  }
}

@media screen and (max-width: 922px) {
  .about-texts {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .banner-cont {
    background: #1a1a1c;
  }
  .special-catalog-cont {
    gap: 20px;
  }
  .advantages-cont {
    margin-top: 30px;
  }
  .process-bot {
    gap: 20px;
    flex-wrap: wrap;
  }
  .advantages-list {
    gap: 20px;
    flex-wrap: wrap;
  }
  .footer-cont {
    margin-top: 20px;
  }
  .single-advantages {
    width: calc(50% - 10px);
  }
  .process-top {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .single-process {
    width: calc(50% - 10px);
  }
  .banner-cont .img {
    width: 60%;
    left: auto;
    right: 0;
    opacity: 0.3;
  }
  .banner-cont .txt {
    padding: 20px 15px;
  }
  .catalog-container .tabs-owner {
    gap: 20px;
  }
  .about-texts-right {
    max-width: 100%;

    ul {
      gap: 15px;
      align-items: stretch;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        width: calc(50% - (15px / 2));
      }
    }
  }
  .single-about-letter {
    width: 36px;
    height: 36px;

    p {
      font-size: 28px;
      line-height: 1.3;
    }
  }
  .single-about {
    gap: 16px;
  }
  .about-texts-left {
    width: 100%;
    max-width: 100%;
  }
  .about-texts-left h2 {
    margin-bottom: 15px;
  }
  .about-wrap .about-l {
    display: none;
  }
  .about-our {
    gap: 15px;
  }
  .hero-top__cont {
    gap: 25px;
  }
  .hero-text {
    max-width: 100%;
  }
  .hero-top {
    padding-top: 25px;
  }
  .hero-top__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .single-about-letter p {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .catalog-right {
    width: 100%;
  }
  .single-about-txt span {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  .partners-title {
    margin-bottom: 35px;
  }
  .hero-bot-cont .txt {
    padding: 25px 15px;
  }
  .footer-title {
    font-size: 16px;
    margin-bottom: 9px;
    padding-bottom: 9px;
  }
  .catalog-right .tab-btn .img {
    width: 100%;
    display: flex;
    transition: all 0.3s ease-in-out;
    padding-top: 0;
    height: 0;
    position: relative;
    overflow: hidden;
    margin-top: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .about-company {
    padding-top: 40px;
  }
  .tels a {
    gap: 7px;
  }
  .header-right {
    gap: 15px;
  }
  .header-container .logo {
    width: 200px;
  }
  .catalog-right .tab-btn.active .img {
    padding-top: 75%;
    margin-top: 20px;
  }
  .catalog-container .catalog-left {
    display: none;
  }
  .special-catalog-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 650px) {
  .banner-cont .txt {
    gap: 20px;
  }
  .banner-cont {
    padding-top: 68%;
  }
  .banner-cont .img {
    //display: none;
    height: 50%;
    width: 100%;
    bottom: 0;
    top: auto;
    opacity: 1;
  }
  .banner-cont .txt {
    padding-bottom: 30%;
  }
}

@media screen and (max-width: 600px) {
  .hero-bot-cont .txt .p::before {
    flex-shrink: 0;
  }
  .hero-bot-cont {
    padding-top: 65%;
  }
  .btn::before {
    flex-shrink: 0;
  }
  .banner-cont .txt .p::before {
    flex-shrink: 0;
  }
  .hero-bot-cont::after {
    background-size: cover;
  }
  .header-container .logo {
    width: 150px;
  }
  .tels {
    gap: 4px;
  }
  .hero-text .tags {
    gap: 12px;

    li {
      padding: 6px 12px;
    }
  }
  .header-right {
    .btn {
      display: none;
    }
  }
  .contact-us__cont {
    flex-direction: column;
  }
  .footer-top {
    gap: 30px;
    flex-wrap: wrap;
  }
  .footer-column {
    width: 100%;
  }
  .footer-bot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    a {
      color: $main-color;
    }
  }
  .contact-us__text > p {
    width: calc(100% + 35px);
    margin-left: -35px;
  }
  .contact-us__text {
    padding-right: 15px;

    .form {
      width: calc(100% + 35px);
      margin-left: -35px;
    }
  }
  .contact-us__text {
    width: 100%;
  }
  .contact-us-img {
    width: 100%;
    padding-top: 50%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .advantages .adva-bg {
    width: 100%;
    height: auto;
    top: 40%;

    img {
      width: 100%;
      height: auto;
    }
  }
  .banner-cont {
    padding-top: 78%;
  }
  .special-catalog-list {
    gap: 20px;
  }
  .special-single {
    width: calc(50% - 10px);
  }
  .hero::before {
    width: 206%;
  }
  .banner::before {
    width: 206%;
  }
  .catalog-wrap .sub-span {
    margin-bottom: 30px;
  }
  .single-about {
    gap: 12px;
  }
  .single-about-txt span {
    margin-bottom: 9px;
    padding-bottom: 9px;
  }
  .btn {
    padding: 10px 17px;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .banner-cont {
    padding-top: 140%;

    .txt {
      padding-bottom: 50%;
    }
  }
}
